In [1]:
import pandas as pd

In [8]:
df = pd.read_csv(r'C:\Users\JISHNU JAYASANKAR\Desktop\DSA_files\Sales_add.csv')

In [9]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [36]:
df.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

# 1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [37]:
beforeDig = df['Sales_before_digital_add(in $)']

In [38]:
afterDig = df['Sales_After_digital_add(in $)']

In [39]:
from scipy import stats

H0 : There is increase in sales after stepping into digital marketing  
H1 : There is no increase in sales after stepping into digital marketing

In [40]:
t_value,p_value = stats.ttest_ind(afterDig,beforeDig)
print('tvalue=',t_value)
print('pvalue=',p_value)

tvalue= 12.995084451110877
pvalue= 2.614368006904645e-16

In [44]:
if p_value > 0.05:
    print('Accept H0, ie. There is increase in sales after stepping into digital marketing ')
else:
    print('Accept H1, ie. There is no increase in sales after stepping into digital marketing')

Accept H1, ie. There is no increase in sales after stepping into digital marketing

# 2. The company needs to check whether there is any dependency between the features “Region” and “Manager”.

H0 : Region and Manager are independent    
H1 : Region and manager are not independent

In [55]:
#convert the data into a contingency table with frequencies
contigency= pd.crosstab(df['Region'], df['Manager'])
contigency

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [56]:
from scipy.stats import chi2_contingency

In [59]:
# Chi-square test of independence.
c, p, dof, expected = chi2_contingency(contigency)
p

0.5493991051158094

In [60]:
if p > 0.05:
    print('Accept H0, ie. Region and Manager are independent ')
else:
    print('Accept H1, ie. Region and Manager are not independent ')

Accept H0, ie. Region and Manager are independent